name: Build and Deploy Documentation

on:
  push:
    branches: [ main ]

jobs:
  deploy-docs:
    name: Build and Deploy Documentation
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Generate Index
        run: sudo cp README.md docs/index.md

      - name: Parse Docs
        uses: nikeee/docfx-action@v1.0.0
        with:
          args: metadata docs/docfx.json

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: '24'
      
      - name: Transform ToC
        run: cd docs && yarn && sudo node toc.js

      - name: Build Docs
        uses: nikeee/docfx-action@v1.0.0
        with:
          args: build docs/docfx.json

      - name: Deploy Docs
        uses: JamesIves/github-pages-deploy-action@v4.7.4
        with:
          branch: gh-pages
          folder: site/html
          git-config-email: <>
